*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    min-height: 100vh;
    background: linear-gradient(45deg, #002523, #2d002c);
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    padding: 1em 2em;
    background: #010029;
    color: white;
    border-radius: 1rem;
    font-size: 24px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease-in-out;
}
button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scale(1.05);
    border-radius: 1rem;
    background: linear-gradient(to top right, 
    #00fff7, #ff00f7);
    z-index: -1;
}
button:hover{
    /* background: transparent; */
    z-index: 0;
    box-shadow: 25px 0 100px #e100ff,
    -25px 0 100px #008cff;
}